.extrabar {
  //background-color: var(--themeColor);
  //height: 60px;
  //width: 100%;
  height: 60px;
  max-width: 100%;
  width: 1440px;
  margin: 0px auto 0px auto;
  background: linear-gradient(
    180deg,
    var(--themeColor) 0%,
    var(--themeColor2) 100%
  );
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;

  & > .makeMN {
    height: 21px;
    color: var(--txtAltColor);
    font-size: var(--txtSizeL);
    font-weight: bold;
    letter-spacing: -0.14px;
    line-height: 21px;
    margin: 0px 60px 0px 170px;
  }

  & > .everyday {
    height: 21px;
    color: var(--txtAltColor);
    font-size: var(--txtSizeM);
    letter-spacing: -0.12px;
    line-height: 21px;
    margin: 0px 350px 0px auto;
  }

  & > button {
    height: 40px;
    width: 69px;
    border-radius: 8px;
    background-color: var(--txtAltColor);
    color: var(--txtColor);

    &:hover {
      background-color: var(--themeColorDark);
      color: var(--txtAltColor);
    }
  }

  & > .nothx {
    height: 20px;
    color: var(--txtAltColor);
    font-size: var(--txtSizeM);
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    margin: 0px 170px 0px 40px;

    /*&:hover{
        background-color: var(--txtAltColor);
        color:var(--themeColor);
        border-radius: 6px;
    }*/
  }
}
